:root {
    --primary: #f6d4f5;
    font-size: 0.8em;
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
    background-color: lightgray;
}

body img {
    max-width: 100%;
}

header {
    text-align: center;
    background-color: var(--primary);
    display: flex;
    flex-flow: row wrap;
    width: 100%;
    justify-content: center;
}

header .topbar {
    background-color: black;
    color: var(--primary);
    width: 100%;
}

header .container {
    display: flex;
    flex-flow: row wrap;
}

header .container a {
    width: 50%;
}

header #cart {
    display: flex;
    width: 50%;
    padding: 50px;
    justify-content: flex-end;
    font-family: "Courgette";
}

header #cart i {

    padding-left: 15px;
    font-size: 25px;
    color: rgb(227, 173, 224);
}

header #cart span {
    display: block;
    font-weight: bold;
}

header nav {
    display: inline-block;
    width: 100%;
    padding: 30px;
}

header nav a {
    text-decoration: none;
    padding: 30px;
    color: black;
    font-family: "Courgette";
}

header .container nav a:hover {
    background-color: rgb(53, 50, 50);
    color: white;
    transition: all 0.1s ease 0s;
}

.container {
    width: 100%;
    max-width: 1500px;
}

.clear::after {
    clear: both;
}

main {
    width: 100%;
    padding: 0 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

main #slider {
    border: 15px solid white;
    margin-top: 15px;
    background-color: white;
}

main #slider h2 {
    position: absolute;
    background-color: var(--primary);
    opacity: 0.8;
}

main #slide,
main #select,
main #new,
main #best,
main #crush {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
    border: 15px solid white;
    background-color: white;
    margin: 15px 0;
}

main #select:hover img {
    transition: ease 0.2s;
    opacity: 0.5;
}

main #select {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}

main #select h1 {
    width: 100%;
}

main #select img:hover {
    transition: ease 0.2s;
    opacity: 1;
}

h3 {
    font-family: "Courgette";
}

main #news {
    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    width: 100%;
}

main #news img {
    width: 100%;
}

main #news article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2;
    width: 33%;
}

main #news #new h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    margin-bottom: 5px;
    background-color: rgb(233, 52, 188);
}

main #news #best h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    margin-bottom: 5px;
    background-color: rgb(146, 188, 79);
}

main #news #crush h2 {
    display: flex;
    justify-content: center;
    width: 100%;
    color: white;
    margin-bottom: 5px;
    background-color: rgb(13, 152, 171);
}

footer {
    width: 100%;
    background-color: var(--primary);
    font-family: "Courgette";
}

footer #info {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    background-color: rgb(227, 173, 224);
    padding: 25px;
}

footer #info article {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

footer #bottombar {
    display: flex;
    justify-content: space-around;
}

footer #bottombar article {
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    align-items: center;
    line-height: 1.6;
}

footer #bottombar article ul {
    list-style: none;
    text-align: center;
}

@media screen and (max-width: 640px) {

    * {
        margin: 0;
        padding: 0;
        font-size: 1rem;
    }

    header .container {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
    }

    header #cart {
        display: none;
    }

    header nav {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;

    }

    main #slider h2 {

        position: relative;
        margin-bottom: 10px;
        opacity: 1;
        padding: 5px;
    }

    main #select {
        flex-flow: column wrap;
        align-items: center;
        text-align: center;
    }

    main #news {
        flex-flow: column wrap;
        align-items: center;
    }

    main #news article {
        width: 100%;
    }

    footer #info {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        line-height: 2.5;
    }

    footer #info {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        line-height: 2.5;
    }

    footer #bottombar {
        flex-flow: column wrap;
        justify-content: center;
        align-items: center;
        padding: 10px;
        line-height: 2.5;
    }

    footer #bottombar article {
        padding-bottom: 10px;
    }
}